{% extends 'base.html' %}

{% block content %}
<section>
    <!--Table-->
    <table class="table table-bordered table-hover w-auto">
        <!--Table head-->
        <thead>
            <tr>
                <th>NAME</th>
                <th>TICKER</th>
                <th>FREQ & TAX</th>
                <th>DEC-DATE</th>
                <th>EX-DATE</th>
                <th>PAY-DATE</th>
                <th>AMOUNT</th>
                <th>INDUSTRY</th>
                <th>SECTOR</th>
            </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody>
        {% for row in company_data %}
            <tr>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
                <td>{{row[7]}}</td>
                <td>{{row[8]}}</td>
                <td>{{row[9]}}</td>
            </tr>
        {% endfor %}
        </tbody>
        <!--Table body-->
    </table>
    <!--Table-->
</section>
{% endblock content %}
